apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-config
data:
  datasources.yaml: |
{{ toYaml .Values.datasources }}

  providers.yaml: |
{{ toYaml .Values.providers }}